<div class="card">
  <h4 class="card-header">Наскільки ти кіберспортивний експерт</h4>
  <div class="card-body">
    <h5 class="card-title">Запитання №{{ this.questionNumber + 1 }}</h5>
    <div *ngIf="currentQuestion">
      <p class="card-text">{{ this.currentQuestion.question }}</p>
      <div class="form-group" *ngFor="let answer of currentQuestion.answers">
        <div class="form-group form-check">
          <input
            type="radio"
            name="radioBtn"
            class="form-check-input"
            id="check1"
            (click)="selectedAnswer(answer)"
          />
          <label class="form-check-label" for="check1">{{ answer }}</label>
        </div>
      </div>
    </div>
    <div class="button-position">
      <span class="count-position">{{ this.questionNumber + 1 }}/{{this.questions.length}}</span>
      <button [disabled]="this.resultCounter || this.selectedAnswers.length >= this.questions.length" class="btn btn-dark" type="submit"  (click)="submit()">
        {{
          this.questionNumber + 1 < this.questions.length
            ? "Продовжити"
            : "Результат"
        }}
      </button>
    </div>
  </div>
</div>
<div class="mr-top">
  <span
    class="result"
    *ngIf="this.selectedAnswers.length >= this.questions.length"
    >Ваш результат: {{ this.resultCounter }} вірних відповідей  з {{this.questions.length}}</span
  >
</div>
