.card-body {
  color: #54515A;
}

.button-position {
  display: flex;
  justify-content: flex-end;
}


.count-position {
  margin-right: 15px;
  margin-top: 5px;
}

.mr-top {
  margin-top: 15px;
  text-align: center;
}

.result {
  color: red;
}

