@import "~bootstrap/dist/css/bootstrap.css";


body {
  margin: 0;
  background-color: white;
  color: #4E4B54;
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-family: 'Russo One', sans-serif;
}
